body, html { text-align: center; padding: 0px; font-size: .9em; color: #333; line-height: 1.6em;font-family: verdana; text-align: center;}
body { margin: 2em; }
html {  }
.title { line-height: 3px; }
#main {text-align: left; width: 65%; margin: 0 auto;}
.outro { margin-top: .6em; font-size: .7em; padding-top: 17px;}
/*.intro { padding-bottom: 1.2em; margin-bottom: 1.2em; border-bottom: 1px solid #ccc; font-size: .8em;}*/
h1, .intro h2 { font-size: 1.2em; margin-top: 0; margin-bottom: 0px; padding-bottom: 0px; display: inline !important;}
.inline {  padding: 0; margin: 0; margin-top: 1em; }
.inline li { display: inline; padding: 0; margin: 0;}
h2, h3 { font-size: 1em; margin-top: 0; margin-bottom: 0px; padding-bottom: 0px; font-weight: normal !important;}
h1 + p { display: inline !important; }
h1 + p + div + p { margin-top: 1em; text-indent: 1em;}
h2 { font-size: 1.2em; color: #000; }
h2, h3 { margin-bottom: 0 !important; padding-bottom: 0 !important; margin-top: 1em; }
h2 + span, h2 + span + p { display: inline !important; }
/* I'd like the h1 p block to be distinct, but can't seem to apply margin to an inline p (as declared above) so we do it this way */
h1 + p + * { margin-top: 1.6em !important; }
.me { border: 1px solid #ccc; margin-right: 1em; padding: 2px; float: left; margin-top: 5px;}
.accounts ul { float: right; border: 1px solid #ccc; background: #efefef;  padding-top: 6px; padding-left: 6px; padding-right: 6px; text-align: right;} 
.accounts ul li a:hover { border-bottom: 0px; }
p { margin-top: 0; padding-top: 0; margin-bottom: 0 }
a, a:visited { color: #333; text-decoration: none; border-bottom: 1px solid #eee}
a:hover, a:visited:hover { border-bottom: 1px solid #ccc; }
img { border: 0px; margin: 0; padding: 0;}
p + p, ul + p, ol + p, blockquote + p { margin-top: 1.6em; text-indent: 1em;}
/*a[href*="smarterfish.com"], a[href^="./"] { color: blue;}*/
acronym { cursor: help !important; }
a[href*="smarterfish.com"]:hover, a[href*="smarterfish.com"]:visited:hover, a[href^="./"]]:hover, a[href^="./"]:visited:hover { border-bottom: 1px solid blue; }
.backBar { text-align: left; padding-left: 1em;font-size: .8em; position: absolute; top: 0; left: 0; right: 0; color: white; background: white;}
.backBar a { color: white !important; border-color: white !important; cursor: default !important;}
.backBar a { border-bottom: 0px; }
.backBar a:hover { cursor: pointer !important; }
.backBar:hover { background: #ff9999;}
ol li { padding-bottom: 1em; }
.blah { }
.definition { padding-left: 150px; }
